* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: #1F2637; */
}

a {
    color: white;
    text-decoration: none;
    margin-left: 24px;
}

.header,
.hero-section,
.footer {
    color: white;
    background-color: #1F2937;
    display: flex;
}

.hero-section { 
    justify-content: space-between;
    padding: 80px 15%;
}

.call-section {
    background-color: #3882F6;
    color: white;
}

.header {
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    width: 100%;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    padding-left: 15%;
}

.header-right {
    padding-right: 15%;
    /* gap: 24px; */
}

.hero-left,
.hero-right {
    width: 50%;
}

.hero-right {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

a,
.hero-secondary-text,
.call-to-action-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    margin-bottom: 12px;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    width: 125px;
}

.information-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}

.info-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.info-content {
    display: flex;
    gap: 48px;
}

.info-card {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #3882F6;
    margin-bottom: 10px;
}

.info-text {
    font-size: 18px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    margin-right: 50px;
}

.call-section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    border-radius: 10px;
    margin: 80px 0;
}

.call-to-action-heading {
    font-size: 22px;
    font-weight: 500;
}

#call-sign-up-btn {
    border: 2px solid white;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
}